nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid darkblue;
}
img {
    width: 350px;
}
.navItem a{
    margin-right: 30px;
    text-decoration: none;
}
.navItem a:hover{
    color: white;
    background-color: darkblue;
    padding: 10px 15px;
    border-radius: 15px;
}