.single-blog{
    margin-top: 30px;
    margin-bottom: 30px;
}
.blog-cover{
    width: 100%;
    border-radius: 10px;
}
.blog-top{
    display: flex;
    justify-content: space-between;
}
.author-info{
    /* margin:30px 30px; */
    display: flex;
}
.author-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.reading-time{
    display: flex;
}